@page  "{id}"
@model Autumn.UI.Pages.Admin.Products.DetailsModel
@{
    ViewData["Title"] = "Details";
}


<h1 class="ui justify aligned header">Keyword Details</h1>
<div class="ui segment">

    <div class="ui very relaxed list">
        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Product.Keyword)
                </div>
                <div class="description">
                    @Html.DisplayFor(model => model.Product.Keyword)
                </div>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Product.Class)
                </div>
                <div class="description">
                    @Html.DisplayFor(model => model.Product.Class)
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Product.Code)
                </div>
                <div class="description">
                    @Html.DisplayFor(model => model.Product.Code)
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Product.Tags)
                </div>
                <div class="description">
                    @Html.DisplayFor(model => model.Product.Tags)
                </div>
            </div>
        </div>

    </div>

    <a asp-page="./Index" class="medium ui button">Back to List</a>

</div>



